In [2]:
import pandas as pd

In [96]:

ebola_14 = pd.read_csv('ebola/ebola_2014_2016_clean.csv')
ebola_14 = ebola_14[['Date', 'Country', 
                     'Cumulative no. of confirmed, probable and suspected cases',
                     'Cumulative no. of confirmed, probable and suspected deaths']]

ebola_14.columns = ['Date', 'Country', 'Cases', 'Deaths']

# group by date and country
ebola_14 = ebola_14.groupby(['Country'])['Cases', 'Deaths']
ebola_14 = ebola_14.sum().reset_index()
# filling missing values
ebola_14['Cases'] = ebola_14['Cases'].fillna(0)
ebola_14['Deaths'] = ebola_14['Deaths'].fillna(0)
ebola_14['Cases'] = ebola_14['Cases'].astype(int)
ebola_14['Deaths'] = ebola_14['Deaths'].astype(int)
ebola_14
ebola_14 = ebola_14.to_json(orient = 'records')

# x = json.loads(x)
# print(type(x))

with open("outputs/ebola.json", "w") as outfile:
    outfile.write(ebola_14)

C:\Users\abhay\AppData\Local\Temp/ipykernel_22864/1695410370.py:9: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ebola_14 = ebola_14.groupby(['Country'])['Cases', 'Deaths']

In [37]:
cholera = pd.read_csv('cholera/data.csv')
cholera = cholera[['Country', 'Year', 'Number of reported cases of cholera',
                   'Number of reported deaths from cholera', 'Cholera case fatality rate', 'WHO Region']]
cholera.columns = ['Country', 'Year', 'Cases',
                   'Deaths', "Fatality rate", "WHO Region"]


cholera

,Country,Year,Cases,Deaths,Fatality rate,WHO Region
0,Afghanistan,2016,677,5,0.7,Eastern Mediterranean
1,Afghanistan,2015,58064,8,0.01,Eastern Mediterranean
2,Afghanistan,2014,45481,4,0.0,Eastern Mediterranean
3,Afghanistan,2013,3957,14,0.35,Eastern Mediterranean
4,Afghanistan,2012,12,0,0.1,Eastern Mediterranean
...,...,...,...,...,...,...
2487,Russian Federation,1980,NaN,0,NaN,Europe
2488,Russian Federation,1971,NaN,0,NaN,Europe
2489,Sweden,1984,NaN,0,NaN,Europe
2490,Switzerland,1980,NaN,0,NaN,Europe
2491,Cambodia,2011,NaN,NaN,0.00,Western Pacific

In [70]:
# filling missing values
cholera['Cases'] = cholera['Cases'].fillna(0)
cholera['Deaths'] = cholera['Deaths'].fillna(0)
cholera['Fatality rate'] = cholera['Deaths'].fillna(0)

# converting datatypes
for case in range(len(cholera["Cases"])):
    try:
        cholera.at[case, 'Cases'] = int(cholera["Cases"][case])
    except:
        cholera.at[case, 'Cases'] = 0

# converting datatypes
for case in range(len(cholera["Deaths"])):
    try:
        cholera.at[case, 'Deaths'] = int(cholera["Deaths"][case])
    except:
        cholera.at[case, 'Deaths'] = 0

# cholera.info()


x = cholera.groupby('Country')['Cases', 'Deaths'].sum()
x = x.reset_index()

x = x.to_json(orient = 'records')

# x = json.loads(x)
# print(type(x))

with open("outputs/cholera.json", "w") as outfile:
    outfile.write(x)

C:\Users\abhay\AppData\Local\Temp/ipykernel_22864/2078616299.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  x = cholera.groupby('Country')['Cases', 'Deaths'].sum()

In [79]:
h1n1 = pd.read_csv('h1n1/data.csv')

h1n1.columns = ['Date', 'Country', 'Cases',
                   'Deaths', "Link"]
h1n1 = h1n1.groupby('Country')['Cases', 'Deaths'].sum().reset_index()
h1n1 = h1n1.to_json(orient = 'records')

with open("outputs/h1n1.json", "w") as outfile:
    outfile.write(h1n1)

C:\Users\abhay\AppData\Local\Temp/ipykernel_22864/2663437309.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  h1n1 = h1n1.groupby('Country')['Cases', 'Deaths'].sum().reset_index()

In [92]:
malaria = pd.read_csv('malaria/reported_numbers.csv')
malaria.columns = ['Country', 'Year','Cases', 'Deaths', 'WHO Region']
malaria = malaria.groupby('Country')['Cases', 'Deaths'].sum().reset_index()

malaria = malaria.to_json(orient = 'records')
with open("outputs/malaria.json", "w") as outfile:
    outfile.write(malaria)

C:\Users\abhay\AppData\Local\Temp/ipykernel_22864/1818659013.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  malaria = malaria.groupby('Country')['Cases', 'Deaths'].sum().reset_index()

In [20]:
hiv_deaths = pd.read_csv('hivaids/no_of_deaths_by_country_clean.csv')
hiv_cases = pd.read_csv('hivaids/no_of_people_living_with_hiv_by_country_clean.csv')

hiv_deaths = hiv_deaths.groupby('Country')['Count_median'].sum().reset_index()
hiv_cases = hiv_cases.groupby('Country')['Count_median'].sum().reset_index()

hiv_cases.columns = ["Country", "Cases"]
hiv_cases = hiv_cases.join(hiv_deaths["Count_median"])
hiv_cases.columns = ["Country", "Cases", "Deaths"]

hiv_cases
# hiv_cases = hiv_cases.to_json(orient = 'records')
# with open("outputs/hivaids.json", "w") as outfile:
#     outfile.write(hiv_cases)

                                Country      Cases    Deaths
0                           Afghanistan    15900.0    1100.0
1                               Albania        0.0       0.0
2                               Algeria    28700.0     500.0
3                                Angola   787000.0   28800.0
4                             Argentina   399000.0    4700.0
..                                  ...        ...       ...
165  Venezuela (Bolivarian Republic of)   120000.0       0.0
166                            Viet Nam   750000.0   19300.0
167                               Yemen    19600.0     800.0
168                              Zambia  4010000.0  105000.0
169                            Zimbabwe  5500000.0  196000.0

[170 rows x 3 columns]